.about-container {
    display: table;
    max-width: 800px;
    /*margin-left: auto;
    margin-right: auto;*/
}

.about-container > .biocontainer {
    /*display: table-cell;
    vertical-align: left;*/
    padding-left: 10px;
    padding-right: 30px;
    max-width: 300px;
}

.about-container > .imagecontainer {
    display: table-cell;
    vertical-align: middle;
}

@media screen and (max-width: 600px) {
    .about-container > .imagecontainer {
        text-align: center;
    }
    .about-container {
        display: flex;
        flex-direction: column;
        margin: 40px;
    }
    .about-container > .biocontainer {
        margin-left: auto;
        margin-right: auto;
    }
}

.bio-image {
    height: auto;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
    border-radius: 2%;
}